apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nodejs-api-2
  name: nodejs-api-2
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs-api-2
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-api-2
    spec:
      containers:
      - image: nodejs-server-2
        name: nodejs-server-2
        imagePullPolicy: Never
        resources: {}
        ports:
          - containerPort: 8082